# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.ProjetoFinalDJ2D.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Faculdade&Projects\3º Semestre\Desenvolvimento de Jogos 2D\FinalProjectDJ2D\ProjetoFinalDJ2D\.idea\.idea.ProjetoFinalDJ2D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
